@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Cairo', system-ui, sans-serif;
}

body {
  background-color: #f9fafb;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #fdba74;
  border-radius: 8px;
}
